header{
    display: flex;
    background-color: hsl(10, 79%, 65%);
    padding: 1.5rem  2rem 1.5rem 2rem;
    width: 35rem;
    justify-content: space-between;
    color: #fff;
    border-radius: 24px;
    font-weight: 500;
}
.header-balance-info{
    font-weight: 300;
}

.header-balance-info span{
    display: flex;
    font-weight: 500;
    margin-top: 0.4rem;
    font-size: 2rem;
}


@media (max-width: 700px) {
    header {
        width:25rem;

    }
  }
  
@media (max-width: 340px) {
    header {
        width: 14.75rem;
    }
}